*{
    font-family: 'Montserrat', sans-serif;
}

.filme-content{
    border: 1px solid white;
    width: 300px;
    padding: 20px;
    background-color: pink;
    box-shadow: 16px 17px 16px -8px rgba(0,0,0,0.1);
}
.filme-content>img{
    width: 100%;
    height: auto;
}
.sinopse{
    text-align: justify;
    font-weight: 400;
}
.text-barbie{
    color: grey;
    line-height: 1.4em;
}